.section__title{
  font-size: 20px;
  line-height: 100%;
  width: 100%;
  margin-bottom: 16px;

  @include media-tablet {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
  }
}

.tech{
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include media-tablet {
    gap: 25px;
  }

  &__area{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.info__title, .info__text{
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
