.panel{
  width: 100%;
}

.title{
  height: 15px;
  padding-top: 2px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: var(--color-secondary);

  margin-bottom: 8px;
}

.nav {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
