.categories{
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: subgrid;
}

.title{
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;

  grid-column: 1 / -1;

  @include media-tablet {
    font-size: 32px;
    line-height: 41px;
  }
}

.cards{
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-top: 24px;
  grid-column: 1 / -1;

  @include media-tablet {
    display: grid;
    grid-template-columns: subgrid;
    gap: inherit;
  }
}
